*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
span,a,label{
    display: inline-block
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, 0.39), rgba(0, 0, 255, 0.616), rgba(0, 0, 0, 0.377)), url(logo-search-grid-1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    color: darkblue;
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    font-weight: 100;
    font-size: 50px;
}  
p{
    color: darkblue;
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    font-weight: 100;
    font-size: 30px;
}  
#section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 70px;
}
.radius{
    width: 70%;
}
.child{
    width: 300px;
    height: 300px;
    background: teal;
    transition: 6.6s ease-in-out;
}
#inputfeild{
    width: 20%;
}
ul{
    list-style: none;
}
label{
    font-family: "Jersey 15", sans-serif;
    font-weight: 100;
    font-size: 36px;
}